*{
    margin: 0;
    padding: 0;
  }
  .hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/background.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

  }

  .h{
    color: rgba(9, 9, 17, 0.671);
  }
  .form-box{
    height: 670px;
    width: 570px;
    background: rgb(252, 235, 231);
    background: linear-gradient(90deg, rgb(240, 193, 181) 0%, rgb(228, 199, 190) 35%, rgb(235, 106, 106) 100%);
    /* background-color: #EDBB99; */
    margin-left: 450px;
    margin-top: 85px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-radius: 20px;
    -webkit-box-shadow:  2px 2px 26px 4px #000000;
    box-shadow:  2px 2px 26px 4px #000000;
    font-size: 12px;

  }
  .login-title{
    text-align: center;
    padding: 20px;
    padding-top: 296px;
    font-weight: 700;
    font-size: 2rem

  }
  .pass{
    width: 80%;
  }

  .cssinput{
    padding: 0px;
    font-size: 15px;
    /* border-width: 1px; */
    border-color: transparent;
    background-color: transparent;
    /* color: #000000; */
    border-bottom: 1px solid black;
    width: 100%;
    /* border-radius: 15px; */
    /* box-shadow: 0px 0px 9px rgba(66,66,66,.58); */
    /* text-shadow: 0px 0px 0px rgba(66,66,66,.75); */
  }

  .check{
    /* padding-top: 50px;
    padding-bottom: 20px; */
    width: 80%;
  }

  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #f05959, #db4c4c);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: rgb(12, 11, 11);
    font-size: 50%;
    height: 50px;
    width: 100px;


    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #da4559;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #fd3c46, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .button{
    /* padding-top: 90px; */


  }
  input{
    border-bottom: #131111;
    font-size: 10px;
  }
  .login-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;

  }
  .form-class{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
    height: 80%;
    width: 80%;
  }
  .radio-inline{
    font-size: 18px;
    color: grey;
      padding: 5px 5px;

  }

  .sign{
    text-decoration: none;
    color: black;
  }
.field1{
  float: left;
}
.preference{
  font-size: 25px;

}
.la{
  font-size: 15px;

}
  /* blood bank portal */

.home4{
  height: 650px;
  width: 650px;
  right: 4  0px;
  top: 140px;
  margin-bottom: 40px;
position: fixed;

}

/* nav bar */
/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
 margin-left: 60px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #EA4C46;
  color: black;
  border-width: 2px;

}


/* Add an active class to highlight the current page */


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* content */
.head{
  font-size: 80px;
  font-weight: bold;
align-content: center;
margin-left: 70px;
color: red;

}
.head3{
  margin-left: 75px;
  font-weight: bold;
  font-size: 35px;
  padding-top: 10px;
  color: red;
  align-content: space-between;
}
.content{
  position: absolute;
  align-items: center;
  margin-top: 150px;
}
.pp{
  height: 400px;
  width: 200px;
}
.pp1{
  margin-top: 40px;
  margin-left: 75px;
  height: 167px;
  width: 538px;
}


.line{
  color: red;
  height: 3px;
  width: 720px;
  float: bottom 0px;
}
.hr {
display: block;
height: 28px;
width: 100%;
padding: 0;
border-top: 35px solid red;
border-bottom: 5px solid red;
position: absolute;
bottom: 0;
margin-bottom: 0px;
}



.btn1{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #f07470;
padding: 10px 31px;
border: none;
box-shadow: rgb(0, 0, 0) -3px 3px 29px 2px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-left: 75px;
margin-top: 40px;
}

.btn1:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}



.btn2{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #ea4c46;
padding: 12px 23px;
border: solid #ea4c46 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1274ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
position: absolute;
right:110px;
float: left;
margin-top: 14px;
}

.btn2:hover{

transition : 1274ms;
padding: 12px 28px;
transform : translateY(-0px);
background-color: #fff;
color: #000000;
border: solid 2px #ea4c46;
}


.btn3{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #f1959b;
padding: 12px 16px;
border: solid #f1959b 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1274ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
float: right;
position: absolute;
right: 10px;
margin-top: 14px;
}

.btn3:hover{

transition : 1274ms;
padding: 12px 23px;
transform : translateY(-0px);
background-color: #fff;
color: #000000;
border: solid 2px #f1959b;
}

/* social media handles */
.content-about{
  position: absolute;
height: 50px;
width: 800px;
  align-content: center;
  margin-top: 120px;
  margin-left: 40px;
}
.ap{
margin-bottom: 20px;
font-weight: bold;
color: red;
margin-left: 300px;
}

.back{
  background-image: url(images/background.jpg);
}
.lo{
  height: 400px;
  width: 600px;
  margin-top: 100px;
}
.po{
  animation-direction: normal;
animation-duration: 1s;
}


/* contact page */

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {

margin-top: 140px;
position: absolute;
right: -230px;
  padding: 10px;
}

.screen {
  position: relative;
  background: #F6BDC0;
  border-radius: 15px;
  height: 500px;
  width: 700px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
  padding-right: 40px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #EA4C46;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #EA4C46;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #EA4C46;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
span{
  font-size: 40px;
}



/* contact of our info */

element.style {
}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
    height: 400px;
    width: 400px;
    float: left;
    font-size: 30px;
    position: absolute;
    left: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
user agent stylesheet
div {
    display: block;
}
h5
{
  font-size: 20px;
}

.gg-home-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 20px;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: -2px;

}
.gg-home-alt::after,
.gg-home-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    left: 0
}
.gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
}
.contact-coll{
  height: 500px;
  width: 400px;
position: absolute;
left: 0;
padding-top: 210px;
padding-left: 90px;
display: flex;

}
.ppp
{

padding-left: 3px;

}
.address{
  display: flex;

}
.html{
  background-color: pink;
}
.head4{
  font-size: 70px;
  font-weight: bold;
align-content: center;
margin-left: 500px;
color: red;
}
.head5{
  font-size: 70px;
  font-weight: bold;
align-content: center;
margin-left: 530px;
color: red;

}



/* events */

.container3{
  display: flex;
  space-evenly: 2px;
  margin-left: 250px;
  margin-top: 0px;
  padding-bottom: 100px;

}
.colll{
  height: 170px;
  width: 170px;
  background-color: pink;
  shadow: black;
  border-width: 2px black;
  margin: 0 70px;
  padding-top: 65px;
  padding-left: 47px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: rgb(0, 0, 0) -3px 3px 29px 2px;

}
.colll:hover{

transition : 1ms;

background-color: #EA4C46;
animation-direction: left;
}
.colll3:hover{

transition : 1ms;

background-color: #EA4C46;
animation-direction: left;
}
.colll3{
  height: 170px;
  width: 170px;
  background-color: pink;
  shadow: black;
  border-width: 2px black;
  margin: 0 70px;
  padding-top: 65px;
  padding-left: 33px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: rgb(0, 0, 0) -3px 3px 29px 2px;

}


/* events background */
.bb{
  background-image: url(images/line.jpg);
  height: 100px;
  width: 570px;
  margin-left: 160px;
}
.bb1{
  height: 250px;
  width: 1300px;
  padding-top: 50px;
margin-top: 21px;
padding-right: 120px;
}
.kk{
  decoration: none;
color: black;
 text-decoration: none;

}


/* multi form css */
h1 {
    text-align: center;
}
h2 {
    margin: 0;
}
#multi-step-form-container {
    margin-top: 5rem;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}
.mt-3 {
    margin-top: 2rem;
    height: 40px;
    width: 50px;
}
.d-none {
    display: none;
}
.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.font-normal {
    font-weight: normal;
}
ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}
.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
}

.donate1{
  margin-left: 450px;
}

.lol{
  text-decoration: none;
  color: black;


}
.form-step{
  height: 600px;
  width: 500px;
}
fieldset{
  margin-top: 50px;
}
.content{
position: absolute;
right: 200px;
}


<style type="text/css">
.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="age"],
.form-style-5 input[type="time"],
.form-style-5 input[type="date"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="age"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}
</style>
label.gen{
  padding-left: 5px;
}

.yy{
  color:
  #EA4C46;

}
.topnav{
  position: fixed;
}
.btn2 {
  position: fixed;
}
.btn3{
  position: fixed;
}
